.main,.pre{
    height: 100vh;
    width: 78vw;
    flex-shrink: 0;
    background: #F7ECDC;
    display: flex;
    flex-direction: column;
}
.pre{
     align-items: center;
     justify-content: center;
}
.pre_bg{height: 50vh;margin-top: -20vh;   }
.heading{margin-top: 0vh;}
.pre p{padding: 0rem  26vw  0rem 22vw;  }
.pre span{margin-bottom: 0vh;margin-top: 20vh;}
.notes-section{
    justify-content: flex-start;
}
.notes-print{
    height: 75vh;
}
.notes-print li{
    
 height: 22vh;
 list-style: none;
}
.note-text{
    margin-top: -2.3rem;
    margin-left: 10vw;
    text-transform: capitalize;
}
.notes-editor-textarea-container{
    height: 20vh;
    margin-left: 2rem;
    width: 96%;
}
.notes-editor-textarea{width: 100%;height: 19vh; border: none;}
.textsubmit-button{
    margin-left: -3rem;
 height: 2rem;
 margin-bottom: 1rem;
}
.g-name{
    background: #edebeb;
    width: 100%;
    height: 4rem;
    margin-top: 0vh;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
align-items: center;
text-transform: capitalize;
}
@media (max-width: 500px) {
    .main{
      width: 0vw; 
      height: 0vh;
      display: none;
      /* visibility: none; */
    }
    
    .notes-section{
        width: 100vw;
        height: 100vh;
    }
  }